@font-face {
    font-family: 'airbnb--black';
    src: url('../fonts/AirbnbCereal_W_Bk.otf');
}

@font-face {
    font-family: 'airbnb--light';
    src: url('../fonts/AirbnbCereal_W_Lt.otf');
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    height: 57px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #222222;
}

.top--text {
    color: #cacaca;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'airbnb--light';
    font-size: 14px;
}

.top--text:hover {
    color: #e0e0e0;
}

.background {
    height: 560px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.menu--flex {
    flex: 1;
}