@font-face {
    font-family: 'airbnb--black';
    src: url('../fonts/AirbnbCereal_W_Bk.otf');
}

@font-face {
    font-family: 'airbnb--light';
    src: url('../fonts/AirbnbCereal_W_Lt.otf');
}

@font-face {
    font-family: 'airbnb--bold';
    src: url('../fonts/AirbnbCereal_W_Bd.otf');
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    height: 57px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #222222;
}

.top--text {
    color: #cacaca;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'airbnb--light';
    font-size: 14px;
}

.top--text:hover {
    color: #e0e0e0;
}

.background {
    height: 560px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.item--menu {
    font-family: 'airbnb--light';
    font-weight: 500;
    font-size: 17px;
}

.menu--flex {
    flex: 1;
}

.logo {
    margin-left: 80px;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.last--menu--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu--button{
    background: transparent;
    color: #222222;
    font-family: 'airbnb--light';
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    border: 0;
    border-radius: 15px;
}

.menu--button:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.menu--icon {
    background: transparent;
    color: #222222;
    border: 0;
    padding: 10px;
    border-radius: 50%;
}

.menu--icon:hover{
    background: #f7f7f7;
    cursor: pointer;
}

.icon--globe {
    font-size: 21px;
}

.button--icons {
    background: white;
    color: gray;
    font-size: 14px;
    font-weight: 600;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    padding: 4px 5px;
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.icon--button {
    font-size: 33px;
}

.icon--button--menu {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 5px;
}

.search {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div--search {
    height: 100%;
    background: white;
    border: 0;
    border-radius: 45px;
    width: 62%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item--search {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.item--search--1 {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.item--search--4 {
    flex: 1.4;
    display: flex;
    flex-direction: column;
}

.search--1 {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.first--item {
    font-size: 12px;
    font-family: 'airbnb--light';
    font-weight: 600;
    flex: 1;
}

.second--item {
    color: gray;
    font-size: 14px;
    font-family: 'airbnb--light';
    font-weight: 400;
}

.separator--1 {
    position: absolute;
    height: 35px;
    width: 1px;
    background: rgb(189, 188, 188);
    margin-left: 250px;
}

.separator--2 {
    position: absolute;
    height: 35px;
    width: 1px;
    background: rgb(189, 188, 188);
    margin-left: 110px;
}

.separator--3 {
    position: absolute;
    height: 35px;
    width: 1px;
    background: rgb(189, 188, 188);
    margin-left: 110px;
}

.button--search {
    background: #E41D5D;
    border: 0;
    outline: 0;
    border-radius: 50%;
    padding: 10px;
    width: 50px;
    height: 50px;
    color: white;
    margin-right: 10px;
}

.button--search:hover {
    background: #FF385C;
    cursor: pointer;
}

.items--4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search--2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.botao--search {
    flex: 1;
}

.nature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px;
}

.the--best {
    font-size: 59px;
    font-family: 'airbnb--bold';
    color: #222222;
}

.of--nature {
    font-size: 55px;
    font-family: 'airbnb--bold';
    color: #222222;
    margin-top: -20px;
}

.suggestions {
    font-size: 20px;
    font-family: 'airbnb--light';
    margin-top: -3px;
}

.inspire {
    padding: 8px 10px;
    border: 0;
    border-radius: 10px;
    background: #222222;
    color: white;
    font-family: 'airbnb--bold';
    cursor: pointer;
    width: 90px;
    font-size: 14px;
}

.locals--1 {
    height: 80px;
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.locals--2 {
    height: 80px;
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -20px;
}

.explore {
    margin-left: 80px;
    font-family: 'airbnb--bold';
    font-size: 30px;
    font-weight: 900;
    color: #222222;
}

.local--item {
    display: flex;
    flex: 1;
}

.image--local {
    flex: 1;
    cursor: pointer;
}

.texts--local {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.texts--local b {
    font-style: 'airbnb--bold';
    font-size: 16px;
    color: #222222;
    margin-left: 10px;
    cursor: pointer;
}

.texts--local p {
    font-style: 'airbnb--light';
    font-size: 15px;
    color: #222222;
    margin-top: 2px;
    font-weight: 600;
    margin-left: 10px;
    cursor: pointer;
}

.img--local {
    border-radius: 10px;
    width: 100%;
    max-width: 65px;
    
}

.live {
    margin-left: 80px;
    font-family: 'airbnb--bold';
    font-size: 30px;
    font-weight: 900;
    color: #222222;
}

.places {
    margin-top: 15px;
    height: 180px;
    padding: 10px 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.place--item {
    flex: 1;
    display: flex;
    flex-direction: column;

}

.place--item img {
    width: 240px;
    height: 150px;
    max-width: 250px;
    border-radius: 12px;
    cursor: pointer;
}

.place--item p {
    font-family: 'airbnb--bold';
    color: #222222;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;
}

.host {
    padding: 10px 80px;
}

.image--host {
    background-image: url(../images/host.jpg);
    background-size: cover;
    height: 400px;
    width: 1070px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.p--1 {
    font-size: 45px;
    color: #222222;
    font-family: 'airbnb--bold';
    margin-left: 80px;
}

.p--2 {
    font-size: 45px;
    color: #222222;
    font-family: 'airbnb--bold';
    margin-left: 80px;
    margin-top: -55px;
}

.image--host b {
    color: #222222;
    font-family: 'airbnb--light';
    margin-left: 80px;
    font-weight: 500;
    font-size: 17px;
}

.b {
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.image--host button {
    margin-top: 15px;
    background: #222222;
    color: white;
    border: 0;
    padding: 16px 20px;
    font-family: 'airbnb--bold';
    font-size: 16px;
    width: 125px;
    margin-left: 80px;
    border-radius: 12px;
    cursor: pointer;
}

.experience {
    margin-left: 80px;
    font-family: 'airbnb--bold';
    font-size: 30px;
    font-weight: 900;
    color: #222222;
}

.activities {
    margin-left: 80px;
    font-family: 'airbnb--light';
    font-size: 23px;
    font-weight: 600;
    color: #222222;
    margin-top: 5px;
}

.all--activities {
    padding: 10px 80px;
    height: 450px;
    display: flex;
    justify-content: center;
}

.activities--item {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.activities--item img {
    width: 100%;
    max-width: 340px;
    height: 340;
    border-radius: 12px;
}

.activities--item b {
    font-family: 'airbnb--bold';
    color: #222222;
    font-size: 16px;
    margin-top: 5px;
}

.activities--item p {
    font-family: 'airbnb--light';
    color: gray;
    font-size: 12px;
    font-weight: 600;
    margin-top: 2px;
}