@font-face {
    font-family: 'airbnb--black';
    src: url('../fonts/AirbnbCereal_W_Bk.otf');
}

@font-face {
    font-family: 'airbnb--light';
    src: url('../fonts/AirbnbCereal_W_Lt.otf');
}

body {
    background: white;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    height: 57px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #222222;
}

.top--text {
    color: #cacaca;
    cursor: pointer;
    text-decoration: underline;
    font-family: 'airbnb--light';
    font-size: 14px;
}

.top--text:hover {
    color: #e0e0e0;
}

.background {
    height: 560px;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
}

.item--menu {
    font-family: 'airbnb--light';
    font-weight: 500;
    font-size: 17px;
}

.menu--flex {
    flex: 1;
}

.logo {
    margin-left: 80px;
}

.menus {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.last--menu--item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.menu--button{
    background: transparent;
    color: #222222;
    font-size: 'airbnb--light';
    font-size: 14px;
    font-weight: 600;
    padding: 12px 15px;
    border: 0;
    border-radius: 15px;
}

.menu--button:hover {
    background: #f7f7f7;
    cursor: pointer;
}

.menu--icon {
    background: transparent;
    color: #222222;
    border: 0;
    padding: 10px;
    border-radius: 50%;
}

.menu--icon:hover{
    background: #f7f7f7;
    cursor: pointer;
}

.icon--globe {
    font-size: 21px;
}