.quadrado {
    width: 200px;
    height: 200px;
    background-color: aqua;
}

.quadrado--2 {
    width: 200px;
    height: 200px;
    background-color: darkorange;
    margin-top: 10px;
}

body {
    margin: 0px;
}